In [19]:
from datasets import load_dataset
import pandas as pd
import matplotlib.pyplot as plt
import openpyxl

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df.head(3)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."

In [ ]:
# def time2str(date_in):
#     return date_in.strftime('%Y-%m-%d')

# df['job_posted_date_str'] = df['job_posted_date'].apply(time2str)
df['job_posted_date_str'] = df['job_posted_date'].apply(lambda date_in: date_in.strftime('%Y-%m-%d'))
df[['job_posted_date','job_posted_date_str']].head()

In [ ]:
from datetime import datetime

# df['days_since_posted'] = df['job_posted_date'] - datetime.now()
current_date = datetime.now()
df['days_since_posted'] = df['job_posted_date'].apply(lambda x: (current_date - x).days)

df[['days_since_posted','job_posted_date']].head()

In [23]:
def salary_cat(salary):
    if salary<60_000:
        category = 'Low'
    elif salary>100_000:
        category = 'High'
    else:
        category = 'Medium'
    return category

In [ ]:
# df_filtered = df[df['salary_year_avg'].notna()].copy()
df_filtered = df.dropna(subset=['salary_year_avg']).copy()
# type(df_filtered)
# df_filtered['salary_category'] = df_filtered['salary_year_avg'].apply(salary_cat)
df_filtered['salary_category'] = df_filtered['salary_year_avg'].apply(lambda salary: 'Low' if salary<60000 else 'High' if salary>100000 else 'Medium')

df_filtered[['salary_year_avg','salary_category']].head()